/* Coolors Exported Palette - coolors.co/14141c-f06449-4392f1-3a506b-7fb069 */

$color1: rgba(20, 20, 28, 1);
$color2: rgba(240, 100, 73, 1);
$color3: rgba(67, 146, 241, 1);
$color4: rgba(58, 80, 107, 1);
$color5: rgba(127, 176, 105, 1);

$c-primary: $color2;
$c-secondary: $color3;
$c-accent: $color5;
$c-neutral: $color1;
$c-neutral-light: $color4;
$c-text: #fafafa;