<h1>Timeline</h1>

<div class="timeline">
{{ range $eventIndex, $event := split .Inner "  end" }}
    {{ if not (modBool $eventIndex 2) }}
    <div class="event-container left">
    {{ else }}
    <div class="event-container right">
    {{ end }}
        <div class="event-content">
            {{range $elementIndex, $element := split $event "  title" }}
                {{ if eq $elementIndex 0 }}
                    <h2>{{ $element }}</h2>
                {{ else }}
                    <p>{{ $element }}</p>
                {{ end }}
            {{ end }}
        </div>
    </div>
{{ end }}
</div>