<div class="timeline">
{{ range $eventIndex, $event := split .Inner "  end" }}
    {{ if not (modBool $eventIndex 2) }}
    <div class="event-container left">
    {{ else }}
    <div class="event-container right">
    {{ end }}
        <div class="event-content">
            {{ range $element := split $event "  r" }}
                {{ if in $element "meta:" }}
                    <span class="event-meta">{{ replace $element "meta:" "" }}</span>
                {{ else if in $element "head:" }}
                    <h2>{{ replace $element "head:" "" }}</h2>
                {{ else if in $element "desc:" }}
                    <p>{{ replace $element "desc:" "" }}</p>
                {{ else if in $element "link:" }}
                    {{ $link := replace $element "link:" "" }}
                    <a {{ printf "href=%s" $link | safeHTMLAttr }} rel="noopener" target="_blank">{{ i18n "seeMore" }}</a>
                {{ else }}
                    <span class="event-meta">/Something wrong/ {{ $element }}</span>
                {{ end }}
            {{ end }}
        </div>
    </div>
{{ end }}
</div>