<div class="timeline">
{{ range $eventIndex, $event := split .Inner "  end" }}
    {{ if not (modBool $eventIndex 2) }}
    <div class="event-container left">
    {{ else }}
    <div class="event-container right">
    {{ end }}
        <div class="event-content">
            {{ range $elementIndex, $element := split $event "  return" }}
                {{ if eq $elementIndex 0 }}
                    <h2>{{ $element }}</h2>
                {{ else if eq $elementIndex 1 }}
                    <p>{{ $element }}</p>
                {{ else if eq $elementIndex 2 }}
                    <a {{ (printf "href=%s" $element) | safeHTMLAttr }} rel="noopener" target="_blank">{{ i18n "seeMore" }}</a>
                {{ end }}
            {{ end }}
        </div>
    </div>
{{ end }}
</div>